
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #575757;
}

/* Main Content Styling */
.main-content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;

    margin-left: 20px on the . text-container will add space to the left of the text
    
}
