* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pres Start 2P", sans-serif;
}

body {
    background-color: #d1c3ed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25rem;
    margin:0;
}

img {
    width: 100%;
    display: block;
    margin: auto
}
h1 {
    background-color: #de52ab;
    background-image: linear-gradient(to top, #602fc2 0%, rgb(241, 102, 148) 100%);
    text-align: center;
    padding: 20px;
}

#lol{
    border: 3px solid gold;
    font-size: 20px;
}

.navbar {
    background: #de52ab;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
}
#box3 {
    position: relative;
    width: 400px 

}

.image{
    position: relative;
    width: 400px
}


#box1 {
    width: 300px;
    height: auto;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(241, 239, 231);
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 0; 
    position: relative; 
}

#box2, #box3, #box4, #box5 {
    margin: 20px;
    text-align: center;
}

#box2 img, #box3 img, #box4 img, #box5 img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    align-items: right;
}

#box5 img {
    max-width: 400px;
    position: relative;
    right: 20px
}

#box4 {
    float: left;
    margin-left: 30px;
    position: relative;
    top: -20px; 
}

#box2 {
    display: block;
    margin: 10px auto;
}
#box6 {
    text-align: center;
    background-color: #e198d8;
    border: dotted;
    padding: 20px;
    float: bottom;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
}

.fa-instagram {
    color: purple;
}

.fa-youtube {
    color: red;
}

.fa-tiktok {
    color: black;
}

.text-content {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center; 
    background-color: #f4f4f4; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




footer {
    text-align: center;
    padding: 10px;
}